$theme-black: #000000;
$theme-transparent-bg: #00000020;
$theme-white: #ffffff;
$theme-white10: #fbfbfb;
$theme-primary: #39cdcc;
$theme-primary90: #39cdcc90;
$theme-primary10: #39cdcc10;
$theme-secondary: #213f7d;
$theme-gray: #545f7d;
$theme-gray15: #545f7d15;
$theme-pink: #df18ff;
$theme-pink10: #df18ff10;
$theme-purple: #5718ff;
$theme-purple10: #5718ff10;
$theme-orange: #f55f44;
$theme-orange10: #f55f4410;
$theme-yellow: #e9b200;
$theme-yellow10: #e9b20010;
$theme-green: #39cd62;
$theme-green10: #39cd6210;
$theme-error: #e4033b;
$theme-error10: #e4033b10;
$theme-red: #ff3366;
$theme-red10: #ff336610;
